/* Global Settings */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 4rem;
}

/* Shared Content */
body {
    color: #b7e1cd;
    background-color: black;
    font-family: sans-serif;
}

/* Topnav Settings */
.topnav {
    background-color: #6C757D;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0.5rem;
}

.topnavTitle {
    font-size: 2.0rem;
    font-weight: bold;
    float: right;
    position: relative;
    margin-right: 1.0rem;
}

.topnavLinks {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    font-size: 1.5rem;
}

.topnavMenuButton {
    float: left;
    cursor: pointer;
    padding-right: 0.5rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.topnavMenuContent {
    display: none;
    z-index: 22;
    position: fixed;
    width: 11.5vw;
    height: 100vh;
    float: left;
    background-color: #6C757D;
    padding: 0 1rem;
    margin: 0;
    left: 0;
    list-style-type: none;
}

.topnavMenuContent li {
    margin: 1rem 0;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}

.change .topnavMenuContent {
    display: block;
}


/* Body Settings */
.localBody{
    /* Offset margin to account for topnav */
    margin-top: 3rem;
    position: relative;
    z-index: -1;
    overflow: auto;
    margin-bottom: 4rem;
}

.sidenav {
    width: 13vw;
    border-right: 0.2rem solid #6C757D;
    position: fixed;
    z-index: -1;
    height: 100%;
    overflow-wrap: normal;
    text-align: center;
    display: block;
}

.sidenavHead {
    margin: 1rem 0;
}

.sidenavLinks li {
    margin: 0.5rem 0;
}


.localContent {
    /* Offset margin to account for sidenav */
    margin-left: 14vw;
    width: 85vw;
    display: block;
}

.localHead {
    text-align: center;
    margin: 3.5rem 1rem 1rem;
}
.localHeadBody {
    text-align: center;
    margin: 2rem;
}

.sectionHead {
    margin: 1.5rem;
    font-size: 1.3rem;
}

.sectionSubHead {
    margin: 3rem 2rem 0;
    font-style: oblique;
}

.sectionBody {
    margin: 0 2rem 1rem;
}

.exampleTitle {
    margin: 2rem 11rem 0;
    color: #CDB7E1;
    font-weight: bold;
    font-size: 0.9rem;
}

.exampleTitleCenter {
    margin: 2rem 11rem 0;
    color: #CDB7E1;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.exampleText {
    margin: 0 11rem 1rem;
    color: #CDB7E1;
    font-size: 0.85rem;
}

.exampleTextCenter {
    margin: 0 11rem 1rem;
    color: #CDB7E1;
    font-size: 0.85rem;
    text-align: center;
}

/* Settings for duo column display in primer 
    Similar settings to triCol but leaving separate in case of eventual divergence
*/

.duoCol {
    display: flex;
}

.duoCol > * {
    flex-basis: 100%
}

.duoColBox {
    font-size: 1rem;
    margin: 2rem 8rem;
}

.duoColHead {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
}

.duoColTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.duoColText {
    margin-bottom: 1rem;
}

/* Settings for three column display in character creation */
.triCol {
    display: flex;
}

.triCol > * {
    flex-basis: 100%;
}

.triColBox {
    color: #CDB7E1;
    font-size: 0.85rem;
    margin: 2rem 8rem;
}

.triColTitle {
    font-weight: bold;
}

.triColText {
    margin-bottom: 1rem;
}

.triColText2 {
    margin: 0;
}


/* Links */
a {
    text-decoration: none;
    cursor: default;
    color: #E1CDB7;
}

a:visited {
    color: #E1CDB7;
}

a:hover, a:focus {
    color: #B7CBE1;
}

a:active {
    color: #E1B7CB;
}


/* Home */
/* Styles for the entire home menu body container */
.homebody {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

/* Style for "The Dreamscape" title on home menu */
.hometitle{
    font-size: 4rem;
    padding: 4rem 4rem;
}

/* Style for the three links on home menu */
.homelink {
    font-size: 2rem;
    padding: 2rem 0rem;
}

/* Style for my current n.b. below home links */
.homenote {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2rem 2rem;
}


/* Game */


/* Primer */


/* Setting */

