/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --thymora-jade: #B7E1CD;
    --link-gold: #E1CDB7;


    --primary-600: hsl(252, 9%, 22%);
    --primary-500: hsl(259, 13%, 28%);


    --corner-notch: polygon(
            /* top-left 1 */
            0 1.3rem,
            /* top-left 2 */
            1.3rem 0,
            /* top-right 1 */
            calc(100% - 1.3rem) 0,
            /* top-right 2 */
            100% 1.3rem,
            /* bot-right 1 */
            100% calc(100% - 1.3rem),
            /* bot-right 2 */
            calc(100% - 1.3rem) 100%,
            /* bot-left 1 */
            1.3rem 100%,
            /* bot-left 2 */
            0 calc(100% - 1.3rem)
        )
}

html {
    /* Offset to account for topnav */
    scroll-padding-top: 4rem;
}

/* Shared Content */
body {
    color: var(--thymora-jade);
    /* background-color: black; */
    font-family: sans-serif;

    background-attachment: fixed;
    background-position-y: center;
    background-image: 
        /* filter to darken background */
        linear-gradient(hsl(0 0 0 / 0.65)),
        /* Actual background image */
        url("/img/aurora-background2.jpg");
}

/* Grid layout */
.grid {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3rem auto;
    grid-template-areas: 
        "tn tn tn tn tn tn tn"
        "sn lc lc lc lc lc rn";
}

.gridbox {
    display: grid;
    margin: 0.7rem;

    background-color: hsl(from #6C757D h s l / 0.2);
    backdrop-filter: blur(5px);

    clip-path: var(--corner-notch);
}

/* Topnav Settings */
.topnav {
    grid-area: tn;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0 0.3rem;
    z-index: 2;  

    background-color: hsl(from #6C757D h s l / 0.2);
    backdrop-filter: blur(15px);
}

.topnavMenuButton {
    cursor: pointer;
    margin-right: 1rem;
    flex-grow: 1;
    flex-basis: 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #6C757D;
    margin: 6px 0;
    transition: 0.4s;
}

.topnavMenuContent {
    display: none;
    position: fixed;
    width: 14vw;
    height: 100vh;
    padding: 0 1rem;
    margin: 0;
    left: 0;
    list-style-type: none;

    background-color: hsl(from #6C757D h s l / 0.2);
    backdrop-filter: blur(20px);
}

.topnavMenuContent li {
    margin: 1rem 0;
}

.topnavLinks {   
    font-size: 1.5rem;
    margin-left: 1rem;
}

.topnavTitle {
    font-size: 2.0rem;
    font-weight: bold;
    margin-right: 1.0rem;
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(-45deg);
}

/* Display menu */
.change .topnavMenuContent {
    display: block;
}


/* Body Settings */

/* localBody currently deprecated / will need to remove once finalizing new layout */
.localBody{
    grid-area: lb;
    z-index: 0;
    overflow: auto;
    /* margin-bottom: 4rem; */
    /* grid-row: 2/-1;
    grid-column: 1/-1; */
    /* display: grid; */
    /* grid-template-columns: repeat(7, 1fr); */
}

/* sidenav */
.sidenav {
    grid-area: sn;
    position: sticky;
    margin: 0 0.5rem 0;
    inset: 3.25rem 0 0;
    overflow-wrap: normal;
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 4rem);
    
    background-color: hsl(from #6C757D h s l / 0.2);
    backdrop-filter: blur(5px);

    clip-path: var(--corner-notch);
}

.sidenavHead {
    margin: 1rem 0.5rem;
}

.sidenavLinks {
    margin-bottom: 1rem;
}

.sidenavLinks li {
    margin: 0.5rem 0.5rem;
}

/* rightnav */
.rightnav {
    grid-area: rn;
    position: sticky;
    margin: 0 0.5rem 0;
    inset: 3.25rem 0 0;
    overflow-wrap: normal;
    text-align: center;
    overflow-y: auto;
    max-height: calc(100vh - 4rem);
    
    background-color: hsl(from #6C757D h s l / 0.2);
    backdrop-filter: blur(5px);

    clip-path: var(--corner-notch);
}

.rightnavHead {
    margin: 1rem 0.5rem;
}

.rightnavLinks {
    margin-bottom: 1rem;
}

.rightnavLinks li {
    margin: 0.5rem 0.5rem;
}

/* body content */
.localContent {
    grid-area: lc;
    overflow: auto;
    /* Offset margin to account for sidenav */
    /* margin-left: 14vw; */
    /* width: 85vw;
    grid-column: 2 / -1; */
}

.localHead {
    text-align: center;
    margin: 3.5rem 1rem 1rem;
}
.localHeadBody {
    text-align: center;
    margin: 2rem;
}

.sectionHead {
    margin: 1.5rem;
    font-size: 1.3rem;
}

.sectionSubHead {
    margin: 3rem 2rem 0;
    font-style: oblique;
}

.sectionBody {
    margin: 0 1.5rem 1.5rem;
}

.exampleTitle {
    margin: 2rem 11rem 0;
    color: #CDB7E1;
    font-weight: bold;
    font-size: 0.9rem;
}

.exampleTitleCenter {
    margin: 2rem 11rem 0;
    color: #CDB7E1;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
}

.exampleText {
    margin: 0 11rem 1rem;
    color: #CDB7E1;
    font-size: 0.85rem;
}

.exampleTextCenter {
    margin: 0 11rem 1rem;
    color: #CDB7E1;
    font-size: 0.85rem;
    text-align: center;
}

/* DUOCOL/TRICOL MAY BE BETTER SERVED SWAPPING TO GRID TEMPLATES */

/* Settings for duo column display in primer 
    Similar settings to triCol but leaving separate in case of eventual divergence
*/

.duoCol {
    display: flex;
}

.duoCol > * {
    flex-basis: 100%
}

.duoColBox {
    font-size: 1rem;
    margin: 0.8rem 3rem;
}

.duoColHead {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem;
}

.duoColTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.duoColText {
    margin-bottom: 1rem;
}

/* Settings for three column display in character creation */
.triCol {
    display: flex;
}

.triCol > * {
    flex-basis: 100%;
}

.triColBox {
    color: #CDB7E1;
    font-size: 0.85rem;
    margin: 2rem 8rem;
}

.triColTitle {
    font-weight: bold;
}

.triColText {
    margin-bottom: 1rem;
}

.triColText2 {
    margin: 0;
}


/* Links */
a {
    text-decoration: none;
    cursor: default;
    color: #E1CDB7;
}

a:visited {
    color: #E1CDB7;
}

a:hover, a:focus {
    color: #B7CBE1;
}

a:active {
    color: #E1B7CB;
}


/* Home */
/* Styles for the entire home menu body container */
.homebody {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

/* Style for "The Dreamscape" title on home menu */
.hometitle{
    font-size: 4rem;
    padding: 4rem 4rem;
}

/* Style for the three links on home menu */
.homelink {
    font-size: 2rem;
    padding: 2rem 0rem;
}

/* Style for my current n.b. below home links */
.homenote {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2rem 2rem;
}